@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Yanone+Kaffeesatz:wght@200&display=swap');

body {
    font-family: 'Epilogue', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header{
    position: sticky;
    top: 0;
    text-align: center;
    /*box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);*/
    z-index: 999;
    background-color: #ffffff;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    height: 100px;
    font-size: 18px;
    padding: 10px 0;
    background-color: #1d2124;
    color: white;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
/*    text-align: center;*/
    z-index: 999;
}

main {
    padding: 10px;
    overflow: auto;
}

.collapse-dash{
    display: none;
}
.dash{
    text-align: left;
}

.jumbotron div.container {
    width: 50%;
}

@media screen and (max-width: 500px) {
    .navbar {
        height: 150px;
        text-align: center;
        background-image: none;
    }
    .dash{
        display: none;
        text-align: center;
    }
    .collapse-dash{
        display: block;
        text-align: center;
    }
    .jumbotron div.container {
        width: 100%;
    }
}
